.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 25px;
    gap: 10px;

    border: 1px solid #e5e5e5;
    border-radius: 25px;
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.product-image {
    align-self: center;
    height: calc(70px + 200 * (100vw / 1920));
    margin-bottom: 20px;
}

h3.product-title {
    font-size: 24px;
    font-weight: 500;
}

span.product-price {
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
}

p.product-description {
    font-weight: 300;
    font-size: 16px;
}

button.product-button {
    width: 100%;
    padding: 15px 25px;
    border: none;
    color: #fff;
    background: #14213d;
    border-radius: 10px;
    transition: all 0.5s;
    font-size: 20px;
}

button.product-button:hover {
    background: #fca311;
    box-shadow: 0 7px 0 #14213d;
}

@media (max-device-width: 768px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}

@media (max-device-width: 600px) {
    .products {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    h3.product-title {
        font-size: 52px;
    }

    span.product-price {
        font-size: 40px;
    }

    p.product-description {
        font-size: 36px;
    }

    button.product-button {
        font-size: 50px;
    }

    img.product-image {
        height: 400px;
    }
}